DATABASE_URL=postgresql://user:password@localhost:5432/saleflow
BOT_TOKEN=ваш_токен
ADMIN_ID=5629144056
BASE_URL=https://saleflow-bot.onrender.com
WEBAPP_URL=https://kostrikin552-hub.github.io/SaveCommers/
SECRET_KEY=my_super_secret_key_1234
YOOKASSA_SHOP_ID=1413258
YOOKASSA_SECRET_KEY=live_...
BOT_USERNAME=SaveCommers_bot
PORT=10000
TELEGRAM_SECRET_TOKEN=your_telegram_secret
